vls.log
.vscode
ramblings

gdb.output

.githash
*.o
*-compile
*-compile.asm
*-compile.o
compiler
a.out

*.fasm
!bootstrap-compiler/*.fasm
*.out

*.tmp

a
stas
stas0
stas1
stas2
stas3
stas4
stas5
stas6
stas7
stas8
stas9