vls.log
.vscode
ramblings

gdb.output

.githash
*.o
*-compile
*-compile.asm
*-compile.o
compiler
a.out

*.fasm
*.asm
*.tmp
*.out

tests/*
!tests/*.stas
!tests/*.out
!bootstrap-compiler/*

test

a
b
c
d
e
f
g
stas
stas0
stas1
stas2
stas3
stas4
stas5
stas6
stas7
stas8
stas9